.container {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.mainStyle {
  padding: 10px;
  margin: 2px auto;
}

.btn-add {
  border-radius: 10px;
  background-color: aliceblue;
  margin: 10px;
}
